<div >
	<div class="panel panel-default">
		<div class="panel-heading">
			<h4 class="panel-title">{{include.title}}</h4>
		</div>
		<div class="panel-body">
			<div class="row">
{% for item in include.data %}
				<div class="col-xs-6 col-sm-3 col-md-2" align="center">
					<img src="{{item.img}}" class="img-responsive">
					<h5 data-toc-skip><a href="{{item.url}}" target="blank">{{item.name}}</a><br>{% if item.email != nil %}<small><a href="mailto:{{item.email}}">{{item.email}}</a></small><br>{% endif %}<small>{{item.desc}}<br>({{item.since}} - {% if item.until != nil %}{{item.until}}{%endif%})</small></h5>
				</div>
{% endfor%}
			</div>
		</div>
	</div>