        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            {% for link in site.navigation %}{% assign active = '' %}{% if page.url contains link.url %}{% assign active = 'class="active"' %}{% endif %}
            <li  {{active}}>><a {% if link.url contains 'http' %} href="{{ link.url }}" target="_blank" {% else %} href="{{ site.github.url }}{{ link.url }}" {% endif %}>{{ link.title }}</a></li>{% endfor %}
          </ul>
        </div><!--/.nav-collapse -->




